<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__contact-info">
        <div class="footer__contact-title">
          <h1 class="footer__title">Contact Us</h1>
          <p class="footer__subtitle">
            a reference for those who are search for more information about the
            restaurant
          </p>
          <div class="footer__copyright">
            <h4>Pelican © 2022</h4>
          </div>
        </div>
        <div class="footer__address">
          <h2 class="footer__address-title">Address</h2>
          <span class="footer__address-subtitle"
            >65 Broadway, Bexleyheath DA6 7JN, London, UK</span
          >
          <br />
          <a href="scam" class="footer__address-another">View another</a>
        </div>
      </div>
    </div>
  </div>
</footer>
