<header class="header">
  <div class="container">
    <div class="header__inner">
      <h1 class="header__logo">Pelican</h1>
      <ul class="header__list">
        <li class="header__item">
          <a href="home" class="header__link link">Home</a>
        </li>
        <li class="header__item">
          <a href="menu" class="header__link link">Menu</a>
        </li>
        <li class="header__item">
          <a href="delivery" class="header__link link">Delivery</a>
        </li>
      </ul>
    </div>
  </div>
</header>
