<section class="home">
  <div class="container">
    <div class="home__inner">
      <div class="home__content">
        <h1 class="home__title">Our dishes</h1>
        <p class="home__subtitle">
          Our chefs prepare dishes from different countries. They are сooked
          only from natural products.
        </p>
        <a href="menu" class="home__button btn">Learn more</a>
      </div>
      <div class="home__line"></div>
      <img
        src="{{url_for('static', filename='img/egg.png')}}"
        alt=""
        class="home__image"
      />
    </div>
  </div>
</section>
